.container{
  margin-left:auto;
  margin-right: auto;
}


.realtime_filter_top{
  text-align: center;
}


.searchword{
  margin-top: 10px;
  width:300px;
}

.search_lists{
  margin-top: 30px;
  display:grid;
  grid-template-columns:40% 40%;
  grid-template-rows:350px 350px;
  padding-left:0;
  justify-content:center;
}


.search_lists li{
  list-style: none;
  padding-left: 0;
}

.search_lists img{
  padding: 10px;
  width:90%;
  height:70%;
  object-fit: cover;
  border:2px solid;
  
}

.keyword{
  text-decoration: underline;
}

.search_lists p{
  margin-top: 3px;
  line-height: 8px;
}


.hidden{
  display: none;
}



